<%= title @book.title %>

<p>
  <small class="text-muted">Added at <%= date_humanize @book.created_at %></small>
</p>

<hr>


<div class="row">
  <div class="col-5">
    <img class="img-fluid" src="<%= @book.image %>" alt="<%= @book.title %>">
  </div>

  <div class="col-5">
    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>

    <p>
      <strong>Publisher:</strong>
      <%= @book.publisher %>
    </p>

    <p>
      <strong>Pages:</strong>
      <%= @book.pages %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= @book.quantity %> / corrigir
    </p>

    <p>
      <strong>Language:</strong>
      <%= @book.language %>
    </p>

    <p>
      <strong>Discipline:</strong>
      <%= @book.discipline.name %>
    </p>
  </div>

  <div class="col-2">
    <button class="btn btn-success">Request booking</button>
  </div>
</div>
