<%= form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :booking_id %>
    <%= form.number_field :booking_id, id: :loan_booking_id %>
  </div>

  <div class="field">
    <%= form.label :loan_date %>
    <%= form.datetime_select :loan_date, id: :loan_loan_date %>
  </div>

  <div class="field">
    <%= form.label :return_at %>
    <%= form.datetime_select :return_at, id: :loan_return_at %>
  </div>

  <div class="field">
    <%= form.label :returned_at %>
    <%= form.datetime_select :returned_at, id: :loan_returned_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
