<%= title 'Loans' %>
<hr>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-for-tab" data-toggle="tab" href="#nav-for" role="tab" aria-controls="nav-for" aria-selected="true">
      For
    </a>
    <a class="nav-item nav-link" id="nav-from-tab" data-toggle="tab" href="#nav-from" role="tab" aria-controls="nav-from" aria-selected="false">
      From
    </a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade p-3 show active" id="nav-for" role="tabpanel" aria-labelledby="nav-for-tab">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Borrower</th>
          <th>Starting at</th>
          <th>Returning at</th>
          <th>Returned at</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @loans_for.each do |loan| %>
          <tr>
            <td><%= loan.booking.book.title %></td>
            <td><%= loan.booking.user.name %></td>
            <td><%= loan.loan_date %></td>
            <td><%= loan.return_at %></td>
            <td><%= loan.returned_at %></td>
            <td class="text-center">
               <% if loan.returned_at.blank? %>
                <%= link_to "Return", loan_url(loan), method: :put, class: "btn btn-sm btn-success" %>
               <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade p-3" id="nav-from" role="tabpanel" aria-labelledby="nav-from-tab">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Borrower</th>
          <th>Starting at</th>
          <th>Returning at</th>
          <th>Returned at</th>
        </tr>
      </thead>

      <tbody>
        <% @loans_from.each do |loan| %>
          <tr>
            <td><%= loan.booking.book.title %></td>
            <td><%= loan.booking.book.user.name %></td>
            <td><%= loan.loan_date %></td>
            <td><%= loan.return_at %></td>
            <td><%= loan.returned_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
